.xLabels {
  justify-content: flex-end;
}

.xLabel {
  writing-mode: vertical-rl;
  justify-content:center;
  margin: 0;
  color: #EEEEEE;
}

.yLabel {
  justify-content: center;
  align-items: center;
  color: #EEEEEE;
}

.data {
  margin: 1px;
  position:relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
